/*////////////////////////////////////*/
/*					Tirium ver. 0.83b					*/
/*				author: vannsKang						*/
/*		facebook: fb.com/vanns.Kang			*/
/*////////////////////////////////////*/
@import url(./images/tiriumTitle.css);
@import url(./images/tiriumSidebar.css);
@import url(./images/tiriumContent.css);
@import url(./images/tiriumFooter.css);
@import url(./images/tiriumFont.css);
.header {
	font-family: 'Do Hyeon', sans-serif;
	text-shadow: 2.5px 2.5px 2px darkgray;
  background: url(./images/memoji.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: auto;
  height: auto;
}
.article iframe { max-width:100% }
